* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

div.paragraph {
  display: flex;
  flex-wrap: wrap;
}

p.destructible-word {
  color: white;
  white-space: pre;
}

p#word-white-space {
}

div#line-break {
  flex-basis: 100%;
}
